.button__divider{
	height: 30px;
	width: 1px;
	border: var(--c-black) 1px solid;
	margin-right: 10px;
	margin-left: 10px;

}

.subscribe__form button{
	width: 37%;	
	margin-top: 0;
	height: 100%;
	border-color: var(--c-orange);
	outline: none;
	font-family:'OpenSans-Regular';
	font-weight: bold;
	font-size: 16px;
}

@media screen and (max-width: 960px){
	.subscribe__form button{
		font-size: 14px;
		padding: 3px;
	}
}