.footer__top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
	border-bottom: 1px solid var(--c-gray-l);
	padding-bottom: 15px;
}

.footer__bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 15px;
}

.logo{
	width: 70px;
}

.websites__img{
	margin-right: 25px;
	width: 30px;
	align-self: center;
}

.websites__img.-first{
	width: 15px;
}

.reserved{
	color: var(--c-gray-l);
	font-weight: 300;
	font-size: 14px;
}

.data{
	font-family: "OpenSans-Regular";
}

