header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}

header img{
	width: 55px;

}

.header__partner img{
	width: 30px;
}

.header__actions{
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__partners{
	margin-left: 15px;
	display: block;
	content: "";
	height: 30px;
	border-left: 2px var(--c-gray-l) solid;
	padding-left: 20px;
}


.header__lang{
	font-size: 12px;
	text-transform: uppercase;
	color: var(--c-white);
	font-weight: 700;
	position: relative;
	width: 50px;
}

.header__lang:before{
	position: absolute;
	display: block;
	content: "";
	right: 0;
	width: 10px;
	height: 10px;
	border-right: 2px solid;
	border-bottom: 2px solid;
	border-color: var(--c-white);
	transform: rotate(45deg);
}

@media screen and (max-width: 768px){
	.header__partners img{
		display: none;
		position: relative;
	}

	.header__partners:before{
		position: absolute;
		display: block;
		content: "";
		border-top: 3px var(--c-white) solid;
		border-bottom: 3px var(--c-white) solid;
		width: 20px;
		height: 15px;
		top: 27px;
		right: 15px;
	}


	.header__partners:after{
		position: absolute;
		display: block;
		content: "";
		border-bottom: 3px var(--c-white) solid;
		width: 15px;
		height: 1px;
		top: 35px;
		right: 15px;
	}


	.header__actions{
		padding-right: 10px;
	}

}