header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
}

header img{
	width: 55px;
}

.header__partner img{
	width: 30px;
}

.header__actions{
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__partners{
	margin-left: 15px;
	display: block;
	content: "";
	height: 30px;
	border-left: 2px var(--c-gray-l) solid;
	padding-left: 15px;
}


.header__lang{
	font-size: 12px;
	text-transform: uppercase;
	color: var(--c-white);
	font-weight: 700;
}