.nav__link{
	margin-right: 50px;
	text-transform: uppercase;
	color: var(--c-white);
	font-weight: 700; 
	font-size: 12px;
}

.nav :last-child {
	margin:0;
}

@media screen and (max-width: 970px){
	.nav__link{
		margin-right: 30px;
	}
}

@media screen and (max-width: 768px){
	.nav__link{
		display: none;
	}
}