section {
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}


section.-hero {
	background-image: url(../img/hero-bg.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

section.-about{
	background-image: url(../img/about-bg.jpg);	
}
