section {
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}


section.-hero {
	background-image: url(../img/hero-bg.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

section.-about{
	background-image: url(../img/about-bg.jpg);	
}

section.-feature{
	background-image: url(../img/muzhik-bg.jpg);
/*	min-height: 110vh;*/
}

section.-syst_req{
	background-image: url(../img/grobnitsa-bg.jpg);
}



section.-two-in-one {
	background-image: url(../img/duo-bg.jpg);
	height: 200vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section.-subscribe{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	align-items: center;
}