.title {
	font-weight: bold;
	font-size: 80px;
	font-family: "BebasNeue";
	color: var(--c-white);
	text-transform: uppercase;
}

.subtitle {
	font-weight: bold;
	font-size: 24px;
	font-family: "BebasNeue";
	color: var(--c-white);
	letter-spacing: 2px;
	font-weight: 300;
	text-transform: uppercase;
}

.text{
	font-family: "OpenSans-Regular";
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	color: var(--c-white);
}

.text + .text{
	margin-top: 15px;
}

@font-face{
	font-family: OpenSans-Regular;
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face{
	font-family: BebasNeue;
	src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

