:root{
	--c-white: #fff;
	--c-black: #000;
	--c-orange: #FFB548;
	--c-orange-gradient: linear-gradient(183.46deg, #FFB548, #F3AF34);
	--c-gray-d: #979797;
	--c-gray-l: rgba(255, 255, 255, 0.2);
}